header.header
  div.inner-header
    .right 
      a(href="/").logo.playfair • mfs
      nav.nav
        a(href='#') Blogs
        a(href='#') About
    .cta
      form(action="#").search
        input(type='text' name="search" placeholder='Search...')
      button Sign up
