.homeBlogCard 
  .title 
    a.darkergrotesque(href="#")  How to insert multiple rows in Postgres using two useful methods
    p.date.darkergrotesque 14-Aug-2024 .
      span.read-time.darkergrotesque  10 min read 
  .description 
    p.darkergrotesque Learn to insert multiple rows at once in Postgres with a single insert statement and the copy command in this useful tutorial.
  a(href="#").readmore.darkergrotesque Read more 
    i.bi-arrow-right