.links
  link(rel="stylesheet" href="/css/header.css")

header.header
  div.inner-header
    h4.logo • mfs
    .right
      nav.nav
        a(href='/') Home
        a(href='#') Blogs
        a(href='#') About
        a(href='#') Contact
    .cta
      button Login in
      button Sign up